/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#article-info p{font-size:80%}
#widgets h1{font-size:100%}
#widgets a{font-size:80%}

blockquote {
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
  font-style: italic;
  color: #4e4e4e;
  background: #f2f9ff;
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 10px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #d2e6ff;
  font-size: 58px;
  line-height: 1;
  font-weight: 900;
  z-index:0;
}

blockquote:after{
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 15px;
  text-align: center;
  content: "\f10e";
  font-family: FontAwesome;
  color: #d2e6ff;
  font-size: 40px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7;
}

blockquote cite {
  position: relative;
  z-index: 3;
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}


h3 {
  font-size:x-large;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px rgb(55, 79, 110);
  padding-top: 1em; /* 行間の調整 */
  padding-bottom: 0.4em; /* 行間の調整 */

}

h1 {
  font-size:xx-large;
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 3px #2c2c2c;
  padding-top: 0em; /* 行間の調整 */
  padding-bottom: 0.4em; /* 行間の調整 */
}

/* highright.js */
/* コード表示部分全体 */
.hljs {
  padding: 2em 0.5em 1em;
  border-radius: 2px; /* 角に少し丸みをつける */
}
/* 行番号 */
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 1em !important;
}
